body {
    margin: 0;
    padding: 0;
}

img {
    height: 200px;
    width: 450px;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding-bottom: 60px;
    background-color: #1F2937;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #F9FAF8;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
    width: 900px;
    margin: 10px;
    padding: 0;
}

.topcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    flex-wrap: wrap;
}

.hero1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.herob {
    background-color: #3882F6;
    font-size: 36;
    color: white;
    font-weight: 900;
    height: 30px;
    width: 110px;
    border-radius: 5px;
    border: 0px;
}

.tm {
    display: flex;
    flex-direction: column;
    height: 300px
}

.mcontent {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mbox {
    height: 100px;
    width: 100px;
    border: 3px solid rgb(47, 88, 223);
    border-radius: 10px;
}

.mtext {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 24px;
    font-weight: 900;
    padding: 20px;
}

.mp {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100px;
    gap: 10px;
    padding: 3px;
}
.bm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 250px;
}

.bmcontainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: wrap;
}

.btext{
    font-size: 26px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.br {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: bold;
}


div {
    border: 1px solid red;
}
